In [1]:
#预测facebook签到位置

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [3]:
data = pd.read_csv("/Users/songqinghu/Desktop/baiduyun/FBlocation/train.csv")

In [5]:
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>row_id</th>
      <th>x</th>
      <th>y</th>
      <th>accuracy</th>
      <th>time</th>
      <th>place_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0.7941</td>
      <td>9.0809</td>
      <td>54</td>
      <td>470702</td>
      <td>8523065625</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>5.9567</td>
      <td>4.7968</td>
      <td>13</td>
      <td>186555</td>
      <td>1757726713</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>8.3078</td>
      <td>7.0407</td>
      <td>74</td>
      <td>322648</td>
      <td>1137537235</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>7.3665</td>
      <td>2.5165</td>
      <td>65</td>
      <td>704587</td>
      <td>6567393236</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>4.0961</td>
      <td>1.1307</td>
      <td>31</td>
      <td>472130</td>
      <td>7440663949</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
#数据处理
#缩小数据范围
data = data.query("x > 2 & x < 3 & y > 2 & y < 3")
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>row_id</th>
      <th>x</th>
      <th>y</th>
      <th>accuracy</th>
      <th>time</th>
      <th>place_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>82</th>
      <td>82</td>
      <td>2.9265</td>
      <td>2.3590</td>
      <td>55</td>
      <td>415119</td>
      <td>9313893105</td>
    </tr>
    <tr>
      <th>159</th>
      <td>159</td>
      <td>2.4166</td>
      <td>2.7762</td>
      <td>66</td>
      <td>74327</td>
      <td>3432339087</td>
    </tr>
    <tr>
      <th>163</th>
      <td>163</td>
      <td>2.1663</td>
      <td>2.3755</td>
      <td>84</td>
      <td>669737</td>
      <td>3869813743</td>
    </tr>
    <tr>
      <th>191</th>
      <td>191</td>
      <td>2.7878</td>
      <td>2.5728</td>
      <td>144</td>
      <td>330072</td>
      <td>7194654578</td>
    </tr>
    <tr>
      <th>310</th>
      <td>310</td>
      <td>2.3695</td>
      <td>2.2034</td>
      <td>3</td>
      <td>234719</td>
      <td>2636621520</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
data.shape

(314785, 6)

In [10]:
#时间特征处理
time = pd.to_datetime(data["time"],unit="s")
time = pd.DatetimeIndex(time)
time

DatetimeIndex(['1970-01-05 19:18:39', '1970-01-01 20:38:47',
               '1970-01-08 18:02:17', '1970-01-04 19:41:12',
               '1970-01-03 17:11:59', '1970-01-06 15:02:08',
               '1970-01-08 00:40:22', '1970-01-08 22:02:45',
               '1970-01-07 18:26:29', '1970-01-02 21:40:01',
               ...
               '1970-01-03 09:17:37', '1970-01-05 13:21:58',
               '1970-01-02 20:34:43', '1970-01-06 01:46:30',
               '1970-01-09 22:50:46', '1970-01-09 07:35:41',
               '1970-01-01 22:20:48', '1970-01-01 17:47:14',
               '1970-01-08 00:57:12', '1970-01-10 02:17:54'],
              dtype='datetime64[ns]', name='time', length=314785, freq=None)

In [12]:
data['day'] = time.day
data['hour'] = time.hour
data['weekday'] = time.weekday
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>row_id</th>
      <th>x</th>
      <th>y</th>
      <th>accuracy</th>
      <th>time</th>
      <th>place_id</th>
      <th>day</th>
      <th>hour</th>
      <th>weekday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>82</th>
      <td>82</td>
      <td>2.9265</td>
      <td>2.3590</td>
      <td>55</td>
      <td>415119</td>
      <td>9313893105</td>
      <td>5</td>
      <td>19</td>
      <td>0</td>
    </tr>
    <tr>
      <th>159</th>
      <td>159</td>
      <td>2.4166</td>
      <td>2.7762</td>
      <td>66</td>
      <td>74327</td>
      <td>3432339087</td>
      <td>1</td>
      <td>20</td>
      <td>3</td>
    </tr>
    <tr>
      <th>163</th>
      <td>163</td>
      <td>2.1663</td>
      <td>2.3755</td>
      <td>84</td>
      <td>669737</td>
      <td>3869813743</td>
      <td>8</td>
      <td>18</td>
      <td>3</td>
    </tr>
    <tr>
      <th>191</th>
      <td>191</td>
      <td>2.7878</td>
      <td>2.5728</td>
      <td>144</td>
      <td>330072</td>
      <td>7194654578</td>
      <td>4</td>
      <td>19</td>
      <td>6</td>
    </tr>
    <tr>
      <th>310</th>
      <td>310</td>
      <td>2.3695</td>
      <td>2.2034</td>
      <td>3</td>
      <td>234719</td>
      <td>2636621520</td>
      <td>3</td>
      <td>17</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
#去除数据较少的地点
place_count = data.groupby("place_id").count()
place_count = place_count[place_count["row_id"] > 10 ]
data = data[data["place_id"].isin(place_count.index)]
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>row_id</th>
      <th>x</th>
      <th>y</th>
      <th>accuracy</th>
      <th>time</th>
      <th>place_id</th>
      <th>day</th>
      <th>hour</th>
      <th>weekday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>82</th>
      <td>82</td>
      <td>2.9265</td>
      <td>2.3590</td>
      <td>55</td>
      <td>415119</td>
      <td>9313893105</td>
      <td>5</td>
      <td>19</td>
      <td>0</td>
    </tr>
    <tr>
      <th>159</th>
      <td>159</td>
      <td>2.4166</td>
      <td>2.7762</td>
      <td>66</td>
      <td>74327</td>
      <td>3432339087</td>
      <td>1</td>
      <td>20</td>
      <td>3</td>
    </tr>
    <tr>
      <th>163</th>
      <td>163</td>
      <td>2.1663</td>
      <td>2.3755</td>
      <td>84</td>
      <td>669737</td>
      <td>3869813743</td>
      <td>8</td>
      <td>18</td>
      <td>3</td>
    </tr>
    <tr>
      <th>191</th>
      <td>191</td>
      <td>2.7878</td>
      <td>2.5728</td>
      <td>144</td>
      <td>330072</td>
      <td>7194654578</td>
      <td>4</td>
      <td>19</td>
      <td>6</td>
    </tr>
    <tr>
      <th>310</th>
      <td>310</td>
      <td>2.3695</td>
      <td>2.2034</td>
      <td>3</td>
      <td>234719</td>
      <td>2636621520</td>
      <td>3</td>
      <td>17</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
data.shape

(302459, 9)

In [19]:
#确定特征值和目标值
x = data[["x","y","accuracy","day","hour","weekday"]]
y = data["place_id"]
#分割数据集
train,test,train_target,test_target = train_test_split(x,y,random_state=20)

In [21]:
#特征工程预处理
#转换器
transform = StandardScaler()
#数据标准化
train_format = transform.fit_transform(train)
test_format = transform.fit_transform(test)

In [22]:
#机器学习
model = KNeighborsClassifier()
param_grid = {"n_neighbors":[1,3,5,7,9]}
model = GridSearchCV(model,param_grid=param_grid,cv=3)
model.fit(train_format,train_target)

GridSearchCV(cv=3, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [1, 3, 5, 7, 9]})

In [23]:
#模型评估
score = model.score(test_format,test_target)
score

0.335766712953779

In [24]:
test_pre = model.predict(test_format)
test_pre

array([3932426552, 7707520131, 8919245145, ..., 6281231379, 1953428724,
       9508712945])

In [25]:
test_pre == test_target

25556778    False
20698782    False
21660760    False
12938028    False
25851577     True
            ...
20222173    False
3159928     False
20590345    False
6001963     False
20113159     True
Name: place_id, Length: 75615, dtype: bool

In [26]:
model.best_score_

0.31546349414934954

In [27]:
model.best_estimator_

KNeighborsClassifier(n_neighbors=1)

In [28]:
model.cv_results_

{'mean_fit_time': array([0.40305463, 0.36423628, 0.36107477, 0.42875067, 0.3994294 ]),
 'std_fit_time': array([0.03547122, 0.00778166, 0.00975856, 0.1121452 , 0.05156293]),
 'mean_score_time': array([4.92136526, 5.78233806, 6.62555933, 6.67589434, 6.85938899]),
 'std_score_time': array([0.50193615, 0.14227345, 0.55537937, 0.20164911, 0.10082655]),
 'param_n_neighbors': masked_array(data=[1, 3, 5, 7, 9],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'n_neighbors': 1},
  {'n_neighbors': 3},
  {'n_neighbors': 5},
  {'n_neighbors': 7},
  {'n_neighbors': 9}],
 'split0_test_score': array([0.31623355, 0.29443893, 0.29827415, 0.28982345, 0.28030153]),
 'split1_test_score': array([0.31382662, 0.29265357, 0.29741453, 0.2900086 , 0.2807115 ]),
 'split2_test_score': array([0.31633031, 0.29440315, 0.29745814, 0.29001243, 0.27996138]),
 'mean_test_score': array([0.31546349, 0.29383189, 0.29771561, 0.28994816, 0.2803248 ]),
 'std_test_score': array([1.15811746e-03, 8.33321125e-04, 3.95350142e-04, 8.81977243e-05,
        3.06675622e-04]),
 'rank_test_score': array([1, 3, 2, 4, 5], dtype=int32)}